form {
  width: 100%;
}

.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.05);
}

body {
  height: 100vh;
  overflow: hidden;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}
